
*
{
    margin: 0;
    padding: 0;
}
html{
    height: 100%;
    width: 100%;

}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    
}
#search-cont{
    width: 45.53%;
    height: 18%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 
#search-input{
    width: 90%;
    height: 100%;
    border: none;
}
input:focus{
    outline: none;
}
#search{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 91%;
    height:34.16% ;
    border: 1px solid #363b3f ;
}

#rooms{
    width: 45.53%;
    height: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items:flex-start;
 
 
} 
.room{
    border:1px solid #363b3f;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #363B3F;
    width: 12.7%;
    height: 80%;
    background-color:white;
}  
.room-active{
    border:1px solid #363b3f;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 12.7%;
    height: 80%;
    background-color:#47A358;
}  
.room:hover{
    background-color: #47A358;
    color: #EBEBEB;
    cursor: pointer;
}
#container{
    width: 45.53%;
    height: 76.43%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: scroll;
    justify-content: space-around;
 
}

.item{
    width: 44%;
    height: 61%;
    border: 2px solid #EBEBEB;
    border-radius: 10%;
    flex-direction: column;

}
.img-cont{
    width: 100%;
    height:60% ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img-cont > img{
    width: 80%;
    height: 80%;
}
.name{
    color: #363b3f ;
    width: 100%;
    height: 9%;
    display: flex;
    font-size: 3vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.star-cont{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5.64%;
    font-size: 2vw;
    margin-top: 1vw;
 
}
.star{
    
}
.price-button-cont{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 21.6%;
    width: 100%;
  

}
.price-cont{
    height: 50.7%;
    width: 23.22%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color:#363B3F;
}
.price-cont:first-child{
    color:#EBEBEB
}
.add-button{
    width: 42%;
    height: 38.40%;
    border: 1px solid #363B3F;
    border-radius:10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#363B3F;
}
.add-button:hover{
    background-color:#47A358 ;
    color: white;
    cursor: pointer;
}